<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="i18n:translate">
        <h1 class="heading align-self-start mt-5 mb-3 mb-xl-2">
            <i18n:text key="contribution_howto">How To Contribute</i18n:text>
        </h1>
        <h2>Before you start</h2>
        <p>
            If you are interessted in extending this collection you have to ask yourself
            some questions:
        </p>
        <ul>
            <li>Is your part relevant to this project</li>
            <li>
                Is it already part of the collection? Use search to verify this.
            </li>
            <li>TODO</li>
            <li>
                If you are not shure, may write an E-Mail to
                <div
                    data-template="app:href"
                    data-template-path="/impressum"
                    data-template-text="Prof. Dr. Cornelia Horn."
                />
            </li>
        </ul>
        <h2>Requirements</h2>
        <ul>
            <li>Github-Account</li>
            <li>XML-Editor</li>
        </ul>
        <h2>Contribute</h2>
        <ol>
            <li>
                clone repository
                <a
                    href="https://github.com/cobdh/collection"
                    target="_blank"
                >
                    https://github.com/cobdh/collection
                </a>
            </li>
            <li>create a separate branch</li>
            <li>
                add a file with your data in data/editors/xxx.xml
            </li>
            <li>
                add your contribution to data/bibl and data/persons
            </li>
            <li>run formatter and checks</li>
            <li>
                create a pull request to integrate your changes
            </li>
            <li>
                wait for feedback and solve the requested changes
            </li>
        </ol>
        <h2>Templates</h2>
        <div
            data-template="app:view_template"
            data-template-template="editor"
        />
        <div
            data-template="app:view_template"
            data-template-template="person"
        />
        <div
            data-template="app:view_template"
            data-template-template="book"
        />
        <div
            data-template="app:view_template"
            data-template-template="bookSection"
        />
        <div
            data-template="app:view_template"
            data-template-template="article"
        />
        <h2>Tools</h2>
        <p>
            The following tools eases working with xml-files inside cobdh-project. These
            tools require python. Use `python -mpip install cob_dev` to install the dev-
            package.
        </p>
        <h3>cob_persons</h3>
        <p>
            Generate persons based on bibliographic database.
        </p>
        <ol>
            <li>cd to data/persons</li>
            <li>
                run cob_persons data/bibl to generate new persons
            </li>
        </ol>
        <h3>cob_format</h3>
        <p>
            Run formatter to ensure standarized source code.
        </p>
        <ol>
            <li>cd to project directory</li>
            <li>
                cob_format . --ext html --ext xml to format html and xml files
            </li>
        </ol>
        <h3>cob_split</h3>
        <p>
            Split a single xml file into separate xml-files by node-name.
        </p>
        <ol>
            <li>cd to data/bibl</li>
            <li>
                cob_split --src base.xml --node .//biblStruct
            </li>
        </ol>
        <h3>cob_enrich</h3>
        <p>
            Inject TEI-Header into a single file or multiple files inside a directory.
        </p>
        <ul>
            <li>cob_enrich [file or directory]</li>
        </ul>
        <h3>cob_bibl</h3>
        <p>Fix invalid xml ids of bibl data.</p>
        <ul>
            <li>cob_bibl data/bibl</li>
        </ul>
        <h3>cob_crawl</h3>
        <p>
            List all hyperlinks which are provided by cobdh.org.
        </p>
        <ul>
            <li>cob_craw</li>
        </ul>
    </div>
</div>
