<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="i18n:translate">
        <h1>
            <i18n:text key="contribution_howto">How To Contribute</i18n:text>
        </h1>
        <h2>Before you start</h2>
        <p>
            If you are interessted in extending this collection you have to ask yourself
            some questions:
        </p>
        <ul>
            <li>Is your part relevant to this project</li>
            <li>
                Is it already part of the collection? Use search to verify this.
            </li>
            <li>TODO</li>
            <li>
                If you are not shure, may write an E-Mail to
                <div
                    data-template="app:href"
                    data-template-path="/impressum"
                    data-template-text="Prof. Dr. Cornelia Horn."
                />
            </li>
        </ul>
        <h2>Requirements</h2>
        <ul>
            <li>Github-Account</li>
            <li>XML-Editor</li>
        </ul>
        <h2>Contribute</h2>
        <ol>
            <li>
                clone repository
                <a
                    href="https://github.com/cobdh/collection"
                    target="_blank"
                >
                    https://github.com/cobdh/collection
                </a>
            </li>
            <li>create a separate branch</li>
            <li>
                add a file with your data in data/editors/xxx.xml
            </li>
            <li>
                add your contribution to data/bibl and data/persons
            </li>
            <li>run formatter and checks</li>
            <li>
                create a pull request to integrate your changes
            </li>
            <li>
                wait for feedback and solve the requested changes
            </li>
        </ol>
    </div>
</div>
