<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="i18n:translate">
        <h1 class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mb-xl-2">Impressum</h1>
        <h2>
            <i18n:text key="impressum_contact">Contact</i18n:text>
        </h2>
        <p>
            Prof. Dr. Cornelia Horn (Ph.D., Dr. phil. habil.)
            <br/>
            <br/>
            Lehrstuhlinhaberin und Leiterin, Seminar Christlicher Orient und Byzanz
            <br/>
            Seminar Christlicher Orient und Byzanz
            <br/>
            Orientalisches Institut der Philosophischen Fakultät I
            <br/>
            <br/>
            Martin-Luther-Universität Halle-Wittenberg
            <br/>
            Mühlweg 15
            <br/>
            06114 Halle (Saale)
            <br/>
            <br/>
            Tel.: 0345 / 552 4087 (Büro), 0345 / 552 4076 (Sekretariat)
            <br/>
            E-Mail: cornelia{.}horn{at}orientphil{.}uni-halle{.}de
        </p>
        <h2>
            <i18n:text key="impressum_licence">Licence</i18n:text>
        </h2>
        <p>
            This work is licensed under the Creative Commons Attribution 4.0 (BY) license,
            which means that the text may be be remixed, transformed and built upon and be
            copied and redistributed in any medium or format even commercially, provided
            credit is given to the author. For details go to
            <a href="https://creativecommons.org/licenses/by/4.0/">creativecommons.org/licenses/by/4.0/.</a>
        </p>
        <p>
            Creative Commons license terms for re-use do not apply to any content (such as
            graphs, figures, photos, excerpts, etc.) not original to the Open Access
            publication and further permission may be required from the rights holder. The
            obligation to research and clear permission lies solely with the party re-using
            the material.
        </p>
        <p>
            <a href="editors/horn_cornelia">© Prof. Dr. Cornelia Horn (ed.)</a>
        </p>
    </div>
</div>
