<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="app:determine_resource"/>
    <link
        href="$resources/resources/css/landing.css"
        rel="stylesheet"
        type="text/css"
    />
    <h1 class="heading align-self-start mt-5 mb-3 mb-xl-2">
        The Christian Orient and Byzantium - Digital Humanities
    </h1>
    <p class="lead col-12 col-lg-9">
        This Digital Humanities project furthers global knowledge of the culture,
        heritage, languages, history, and society of Oriental Christians, from late
        ancient times, through the Middle Ages, and into the present. In a first step,
        this project provides bibliographical resources. These data can be accessed in
        different ways, including global searching or filtering according to specific
        traditions, for instance, searching for bibliographical entries that pertain to
        Armenian Studies, Georgian Studies, Syriac Studies, Christian Arabic Studies,
        Coptic Studies, Ethiopic Studies, Byzantine Studies, or Eastern Mediterranean
        Studies. As we obtain further funds, we will expand the data. With additional
        resources, we will also add other resources.
    </p>
    <div class="row">
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">Armenia</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region="ar"
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region="ar"
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=ar"
            >
                Open
            </a>
        </div>
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">Georgia</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region="ge"
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region="ge"
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=ge"
            >
                Open
            </a>
        </div>
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">All</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region=""
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region=""
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=all"
            >
                Open
            </a>
        </div>
    </div>
</div>
