<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="app:determine_resource"/>
    <link
        href="$resources/resources/css/landing.css"
        rel="stylesheet"
        type="text/css"
    />
    <h1 class="heading align-self-start mt-5 mb-3 mb-xl-2">
        Christian Orient and Byzantine - Digital Humanities
    </h1>
    <p class="lead col-12 col-lg-9">
        a ac accumsan ad adipiscing aenean aliquam aliquet amet ante aptent arcu at
        auctor augue bibendum blandit class commodo condimentum congue consectetuer
        consequat conubia convallis cras cubilia cum curabitur curae cursus dapibus
    </p>
    <div class="row">
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">Armenia</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region="ar"
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region="ar"
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=ar"
            >
                Open
            </a>
        </div>
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">Georgia</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region="ge"
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region="ge"
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=ge"
            >
                Open
            </a>
        </div>
        <div class="col-4 col-lg-3">
            <h2 class="fw-normal">All</h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    Bibliography:
                    <span
                        data-template="bibl:countby_region"
                        data-template-region=""
                    />
                </li>
                <li>
                    Persons:
                    <span
                        data-template="persons:countby_region"
                        data-template-region=""
                    />
                </li>
            </ul>
            <a
                class="btn btn-md btn-primary"
                href="./?collection=all"
            >
                Open
            </a>
        </div>
    </div>
</div>
