<?xml version="1.0" encoding="utf-8"?>
<div
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="templates:surround"
    data-template-at="content"
    data-template-with="templates/page.html"
>
    <div data-template="i18n:translate">
        <h1>
            <i18n:text key="bibl_bibliography">Bibliography</i18n:text>
        </h1>
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div data-template="bibl:paging"/>
                <div data-template="bibl:index"/>
            </div>
            <div class="col-md-5 col-lg-4 right-menu">Menu</div>
        </div>
    </div>
</div>
