#header{
    background: none;
}
#header a#logo{
    background: none;
}
.navbar-default{
    background: none;
}
.nav > li{
    background: none;
}
ul.list-none{
    list-style: none;
}
.tab-pane{
    display:none;
    padding:25px;
    width:100%;
}
.active{
    display:inline-block;
}
#footer{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding:.5rem 1rem;
    z-index:1025;
}
.other_formats{
    width:100%;
    clear:both;
    margin-top:1em;
    margin-bottom:1em;
    text-align:right;
}
.grey-bot{
    margin-bottom:30px;
}
h3{
    /* TODO: REMOVE AFTER FIX EXIST.DB */
    font-family: "QuicksandBook", "Arial", Helvetica, sans-serif;
}
.viewtemplate_textarea{
    width:100%;
    max-width:50em;
    height: 15em;
    border:none;
}
