<?xml version="1.0" encoding="utf-8"?>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    data-template="app:determine_resource"
    lang="en"
>
    <head>
        <title data-template="config:app-title"/>
        <meta charset="utf-8"/>
        <meta
            content="width=device-width, initial-scale=1.0"
            name="viewport"
        />
        <meta data-template="config:app-meta"/>
        <link
            href="$shared/resources/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="$resources/resources/css/style.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="$shared/resources/scripts/jquery/jquery.min.js"/>
        <script src="$shared/resources/scripts/clipboard.min.js"/>
        <script src="$resources/resources/js/cobdh.js"/>
    </head>
    <body class="d-flex flex-column h-100">
        <div data-template="landing:region_select"/>
        <header>
            <!--Fixed navbar-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <!--TODO: ENABLE LATER-->
                    <a class="navbar-brand"/>
                    <button
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-bs-target="#navbarCollapse"
                        data-bs-toggle="collapse"
                        type="button"
                    >
                        <span class="navbar-toggler-icon"/>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarCollapse"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <div
                                    data-template="app:href"
                                    data-template-path="/"
                                    data-template-text="Home"
                                />
                            </li>
                            <li class="nav-item">
                                <div
                                    data-template="app:href"
                                    data-template-path="/bibl"
                                    data-template-text="Bibliography"
                                />
                            </li>
                            <li class="nav-item">
                                <div
                                    data-template="app:href"
                                    data-template-path="/persons"
                                    data-template-text="Persons"
                                />
                            </li>
                            <li class="nav-item">
                                <div
                                    data-template="app:href"
                                    data-template-path="/search"
                                    data-template-text="Search"
                                />
                            </li>
                            <li class="nav-item">
                                <div
                                    data-template="app:href"
                                    data-template-path="/editors"
                                    data-template-text="Editors"
                                />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--Begin page content-->
        <main class="container-fluid">
            <div
                class="container"
                id="content"
            />
        </main>
        <footer class="footer mt-auto py-3 bg-body-tertiary">
            <div class="container">
                <ul class="nav">
                    <li>
                        <div
                            data-template="app:href"
                            data-template-path="/impressum"
                            data-template-text="Impressum"
                        />
                    </li>
                    <li>
                        <div
                            data-template="app:href"
                            data-template-path="/contribution"
                            data-template-text="Contribute"
                        />
                    </li>
                    <li>
                        <div data-template="config:lang-selector"/>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="$shared/resources/scripts/bootstrap.bundle.min.js"/>
    </body>
</html>
